body{
    background: darkmagenta;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.keret{
    width: 80%;
    border: 5px solid #666566;
    background: bisque;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 11px;
}

p{
    text-align: justify;
}

h2{
    text-align: center;
}

.kep {
    width: 20%;
    height: 20%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin: auto;
}

.gitar-kep-jobbra {
    float: left;
    margin: 0 15px 10px 20px;;
    width: 200px;
    height: auto;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgb(0, 0, 0, 0.1);
}

.clear {
    clear: both;
}